In [9]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'A': [1, 2, np.nan], 'B': [5, np.nan, np.nan], 'C': [1, 2, 3]})
print(df)

filled_df = df.fillna(0)
print(filled_df)

mean_filled_df = df.fillna(df.mean())
print(mean_filled_df)

median_filled_df = df.fillna(df.median())
print(median_filled_df)

backfilled_df = df.fillna(method='backfill')
print(backfilled_df)

dropped_df = df.dropna()
print(dropped_df)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3
     A    B  C
0  1.0  5.0  1
1  2.0  0.0  2
2  0.0  0.0  3
     A    B  C
0  1.0  5.0  1
1  2.0  5.0  2
2  1.5  5.0  3
     A    B  C
0  1.0  5.0  1
1  2.0  5.0  2
2  1.5  5.0  3
     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3
     A    B  C
0  1.0  5.0  1

In [14]:
import pandas as pd

df = pd.DataFrame({'Animal': ['Falcon', 'Falcon', 'Parrot', 'Parrot'], 'Max Speed': [380., 370., 24., 26.]})
df.groupby(['Animal']).mean()

        Max Speed
Animal
Falcon      375.0
Parrot       25.0

In [15]:
import pandas as pd

df = pd.DataFrame({'Animal': ['Falcon', 'Falcon', 'Parrot', 'Parrot'], 'Max Speed': [380., 370., 24., 26.], 'Type': ['Bird', 'Bird', 'Bird', 'Bird']})
df.groupby(['Animal', 'Type']).mean()

             Max Speed
Animal Type
Falcon Bird      375.0
Parrot Bird       25.0

In [16]:
import pandas as pd

df = pd.DataFrame({'Animal': ['Falcon', 'Falcon', 'Parrot', 'Parrot'], 'Max Speed': [380., 370., 24., 26.]})
df.groupby(['Animal']).agg(['mean', 'max', 'min'])

       Max Speed
            mean    max    min
Animal
Falcon     375.0  380.0  370.0
Parrot      25.0   26.0   24.0

In [17]:
import pandas as pd

df = pd.DataFrame({'Animal': ['Falcon', 'Falcon', 'Parrot', 'Parrot'], 'Max Speed': [380., 370., 24., 26.]})
df.groupby(['Animal']).transform(lambda x: (x - x.mean()) / x.std())

   Max Speed
0   0.707107
1  -0.707107
2  -0.707107
3   0.707107

In [18]:
import pandas as pd

df = pd.DataFrame({'Animal': ['Falcon', 'Falcon', 'Parrot', 'Parrot'], 'Max Speed': [380., 370., 24., 26.]})
df.groupby(['Animal']).filter(lambda x: x['Max Speed'].mean() > 100)

   Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0